@font-face {
  font-family:'NanumSquare';
  font-weight:normal;
  src:local(NanumSquare);
  src:url("font/NanumSquare.eot");
  src:url("font/NanumSquare.woff") format("woff"), url("font/NanumSquare.otf") format("opentype");
}
@font-face {
  font-family:'NanumSquare';
  font-weight:bold;
  src:local(NanumSquare);
  src:url("font/NanumSquareB.woff") format("woff"), url("font/NanumSquareB.otf") format("opentype");
}
@font-face {
  font-family:'NanumSquare';
  font-weight:800;
  src:local(NanumSquare);
  src:url("font/NanumSquareB.woff") format("woff"), url("font/NanumSquareB.otf") format("opentype");
}
@font-face {
  font-family:'NanumSquare';
  font-weight:300;
  src:local(NanumSquare);
  src:url("font/NanumSquareL.woff") format("woff"), url("font/NanumSquareL.otf") format("opentype");
}
